* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    background-color: black;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
    margin: auto;
    gap: 30px;
}

.form-container, .info-container {
    background-color: #333;
    color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 300px;
}

.payment-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
}

.payment-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.payment-form input, .payment-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.phone-container {
    display: flex;
    gap: 10px;
}

.phone-container select {
    width: 80px;
}

.coupon-container {
    display: flex;
    gap: 10px;
}

.apply-btn {
    padding: 0px 8px;
    background-color: #8c46bf;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
}
.apply-btn:hover {
    color: black;
    background-color: #c899ec;
}
.gst-container {
    display: inline-flex;
    align-items: center;
    gap: 0px;
}

.price-container {
    margin: 20px 0;
}

.price-container .strike {
    text-decoration: line-through;
    color: white;
}

.pay-btn {
    width: 100%;
    padding: 15px;
    background-color: #8c46bf;
    color: black;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.pay-btn:hover {
    color: black;
    background-color: #c899ec;
}

.info-container h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: white;
}

.info-container img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.info-container p {
    color: white;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .form-container, .info-container {
        width: 100%;
    }
}
