* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", sans-serif;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 20px;
}

header {
  padding: 20px 10px;
}

.navbar h1 {
  color: #fff;
  font-size: 24px;
  height: 10px;
  width: 10px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 90vw;
}
.navbar h1 img {
  height: 50px;
  width: 100px;
}

nav {
  display: inline-block;
  float: right;
}

nav a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
}

nav a.btn {
  background-color: #8c46bf;
  border-radius: 5px;
  padding: 10px 20px;
  color: #000;
}
nav a.btn:hover {
  color: black;
  background-color: #c899ec;
}

.hero {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 20px;
}
.content {
  margin-top: 30px;
}

.content-left {
  width: 40%;
  text-align: left;
}

.content h2 {
  font-size: 36px;
  color: #8c46bf;
  margin-bottom: 15px;
}

.content p {
  font-size: 20px;
  margin-bottom: 30px;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0;
  /* border: 1px solid #8c46bf; */
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* border: 1px solid #8c46bf; */
  text-align: center;
}

.grid-item img {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}

.grid-item p {
  font-size: 18px;
  color: #fff;
}

.btn.enroll-large {
  background-color: #8c46bf;
  width: 30vw;
  color: #000;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 30px;
}
.btn.enroll-large:hover {
  color: black;
  background-color: #c899ec;
}
.video-container {
  width: 45%;
  margin-top: 10;
}

.video-container iframe {
  width: 100%;
  margin-top: 10;
  height: 100%;
  max-width: 600px;
  max-height: 350px;
  border-radius: 30px;
  border: 10;
  border-color: #8c46bf;
}

@media (max-width: 768px) {
  header {
    padding: 10px 5px;
  }
  .navbar,
  nav a {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 12px;
    display: inline-block;
  }
  .navbar h1 img {
    height: 30px;
    width: 50px;
  }
  nav a.btn {
    padding: 3px 6px;
  }

  .hero {
    flex-direction: column;
  }

  .content-left {
    width: 100%;
    text-align: center;
  }

  .video-container {
    width: 100%;
    margin-top: 20px;
  }

  .video-container iframe {
    height: 300px;
  }
  .btn.enroll-large {
    font-size: 15px;
    padding: 7px 18px;
  }
}

@media (max-width: 380px) {
  .navbar h1 {
    font-size: 15px;
  }

  .content-left h2 {
    font-size: 28px;
  }

  .content-left p {
    font-size: 16px;
  }

  .btn.enroll-large {
    font-size: 12px;
    padding: 5px 15px;
  }

  .video-container iframe {
    height: 240px;
  }
}
